---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ArticleTitle from "../../components/ArticleTitle.astro";
import Header from "../../components/Header.astro";

const changelogs = await getCollection("changelogs");
const sortedChangelogs = changelogs
  .filter((p) => !!p.data.published)
  .sort(
    (a, b) => b.data.date.getTime() - a.data.date.getTime()
  )
  .slice(0, 12);
---

<Layout title="Changelog" description="Monthly updates + happenings">
  <Header showTitle={true} />
  <ArticleTitle heading="Changelog" subheading="Monthly updates + happenings" />
  <h2>Latest Updates</h2>
  <section class="bookmarks">
    <ul>
      {
        sortedChangelogs.map(async (changelog) => {
          return (
            <li>
              <a href={`#${changelog.slug}`}>{changelog.slug}</a>
            </li>
          );
        })
      }
    </ul>
  </section>

  <h2>Archives</h2>
  <section class="bookmarks">
    <ul>
      <li><a href="/changelog/archive/2024">2024</a></li>
      <li><a href="/changelog/archive/2023">2023</a></li>
      <li><a href="/changelog/archive/2022">2022</a></li>
      <li><a href="/changelog/archive/2021">2021</a></li>
    </ul>
  </section>

  {
    sortedChangelogs.map(async (changelog) => {
      const { Content } = await changelog.render();
      return (
        <>
          <h2 id={changelog.slug}>
            <a href={`/changelog/${changelog.slug}`} class="heading-link">
              {changelog.data.title}
            </a>
          </h2>
          <Content />
        </>
      );
    })
  }
</Layout>
