---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import ArticleTitle from "../../../components/ArticleTitle.astro";
import Header from "../../../components/Header.astro";

export const prerender = true;
export function getStaticPaths() {
  const years = ["2024", "2023", "2022", "2021"];
  return years.map((year) => ({ params: { year } }));
}

const params = Astro.params;

const changelogs = await getCollection("changelogs");
const sortedChangelogs = changelogs
  .filter((p) => !!p.data.published)
  .filter((p) => p.data.date.getFullYear() === parseInt(params.year))
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Layout title="Changelog" description="Monthly updates + happenings">
  <Header showTitle={true} />
  <ArticleTitle heading="Changelog" subheading="Monthly updates + happenings" />
  <h2>{params.year} Updates</h2>
  <section class="bookmarks">
    <ul>
      {
        sortedChangelogs.map(async (changelog) => {
          return (
            <li>
              <a href={`#${changelog.slug}`}>{changelog.slug}</a>
            </li>
          );
        })
      }
    </ul>
  </section>
  {
    sortedChangelogs.map(async (changelog) => {
      const { Content } = await changelog.render();
      return (
        <>
          <h2 id={changelog.slug}>
            <a href={`/changelog/${changelog.slug}`} class="heading-link">
              {changelog.data.title}
            </a>
          </h2>
          <Content />
        </>
      );
    })
  }
</Layout>
