---
import NveFootnotes from "../components/NveFootnotes.astro";
import NveToc from "../components/NveToc.astro";
import ArticleFooter from "../components/ArticleFooter.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
import "../styles.css";

export interface Props {
  title: string;
  description: string;
  socialImageUrl?: string;
}

const baseUrl = import.meta.env.SITE;
const { title, description, socialImageUrl } = Astro.props;
const path = "posts";
const { slug } = Astro.params;
const seoUrl = path && slug ? `${baseUrl}/${path}/${slug}` : baseUrl;
const fallbackImageUrl = `${baseUrl}/nve-social-logo.png`;
---

<!doctype html>
<html lang="en">
  <head>
    <script is:inline>
      let sessionThemePreference = localStorage.getItem("theme");

      if (sessionThemePreference === null) {
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          sessionThemePreference = "dark";
          localStorage.setItem("theme", "dark");
        } else {
          sessionThemePreference = "light";
          localStorage.setItem("theme", "light");
        }
      }

      if (sessionThemePreference === "dark") {
        document.documentElement.setAttribute("data-theme", "dark");
        document.documentElement.classList.add("sl-theme-dark");
      } else {
        document.documentElement.setAttribute("data-theme", "light");
        document.documentElement.classList.remove("sl-theme-dark");
      }
    </script>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/nve-icon.png" />
    <meta name="generator" content={Astro.generator} />

    <title>{title} | Nick Van Exan</title>
    <meta name="description" content={description} />

    <!-- OpenGraph -->
    <meta property="og:url" content={seoUrl} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={socialImageUrl || fallbackImageUrl} />

    <!-- Shoelace -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.14.0/cdn/themes/light.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.14.0/cdn/themes/dark.css"
    />
  </head>
  <body>
    <div class="app post">
      <ThemeToggle />
      <slot />
      <ArticleFooter />
    </div>
    <NveToc />
    <NveFootnotes />
  </body>
</html>
