---
import NveFootnotes from "../components/NveFootnotes.astro";
import NveToc from "../components/NveToc.astro";
import "../styles.css";

export interface Props {
  title: string;
  description: string;
  socialImageUrl?: string;
}

const baseUrl = import.meta.env.SITE;
const { title, description, socialImageUrl } = Astro.props;
const path = "posts";
const { slug } = Astro.params;
const seoUrl = path && slug ? `${baseUrl}/${path}/${slug}` : baseUrl;
const fallbackImageUrl = `${baseUrl}/nve-social-logo.png`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/nve-icon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Nick Van Exan</title>

    <meta name="description" content={description} />

    <!-- OpenGraph -->
    <meta property="og:url" content={seoUrl} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={socialImageUrl || fallbackImageUrl} />

    <!-- Prism -->
    <link rel="stylesheet" href="/styles/prism-theme.css" />
  </head>
  <body>
    <div class="app post">
      <slot />
    </div>
    <NveToc />
    <NveFootnotes />
  </body>
</html>
